body{
    // About<br/> me
color: black;
 font-size: 96px;
 font-family: Inter;
 font-weight: 600;
 word-wrap: break-word
---
// Martin jomi
color: black;
 font-size: 96px;
 font-family: IBM Plex Serif;
 font-weight: 600;
 text-transform: uppercase;
 word-wrap: break-word
---
// designer
color: black;
 font-size: 64px;
 font-family: IBM Plex Serif;
 font-weight: 400;
 text-transform: capitalize;
 word-wrap: break-word
---
// PORTFOLIO
color: black;
 font-size: 128px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: capitalize;
 word-wrap: break-word
---
//      
color: black;
 font-size: 40px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: capitalize;
 word-wrap: break-word
---
// linkedin.com/in/name martinjomi2003@gmail.com 8078060045
color: black;
 font-size: 40px;
 font-family: IBM Plex Serif;
 font-weight: 400;
 text-transform: lowercase;
 word-wrap: break-word
---
// Photoshop illustrator indesign adobe animate
color: black;
 font-size: 28px;
 font-family: Amiko;
 font-weight: 600;
 word-wrap: break-word
---
// Relevant Skills
color: black;
 font-size: 28px;
 font-family: Amiko;
 font-weight: 600;
 word-wrap: break-word
---
// I am a highly creative and motivated graphic design student who is seeking opportunities to apply and enhance skills in a dynamic and collaborative work environment.
color: black;
 font-size: 32px;
 font-family: Amiko;
 font-weight: 600;
 word-wrap: break-word
---
// Hello <br/>I am martin
color: black;
 font-size: 96px;
 font-family: Inter;
 font-weight: 500;
 word-wrap: break-word
---
// Project
color: black;
 font-size: 96px;
 font-family: Amiko;
 font-weight: 600;
 word-wrap: break-word
---
// Brochure
color: black;
 font-size: 48px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: lowercase;
 word-wrap: break-word
---
// SKETCHES
color: black;
 font-size: 48px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: lowercase;
 word-wrap: break-word
---
// MODELING
color: black;
 font-size: 48px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: lowercase;
 word-wrap: break-word
---
// BOOK DESIGN
color: black;
 font-size: 48px;
 font-family: IBM Plex Serif;
 font-weight: 700;
 text-transform: lowercase;
 word-wrap: break-word
}